
.header
  パスワード生成
=form_with scope: :session, url: app_url_path , model: @passwords, local: true, method: :get do |f|
  .password_app
    登録するアプリ名
    = f.text_field :app_name
    .password_app_url
      アプリのURL
      = f.text_field :app_url
      =f.submit