.password_app{
  background-color:#FFFFEE ;
  height: 100%;
  width: 500px;
  margin: auto;
  padding: 20px;
  &_header{
    text-align: center;
    margin: 20px;
  }
  &_name{
    
    margin: 0 0 20px 15%;
    &_form{
      text-align: center;
      width: 200px;
      height: 20px;
      margin-left: 43px;
    }
  }
  &_url{
    margin: 0 0 10px 15%;
    &_form{
      width: 200px;
      height: 20px;
      margin-left: 10px;
    }
  }
  &_button{
    float: right;
    margin-right: 40px;
  }
}
