body{
  margin:0;
}
.userbackground{
  position: fixed;
  background: rgb(209, 209, 209);
  height: 100%;
  width: 100%; 
  overflow: scroll;
}
.user{
  box-shadow:0 0 15px ;
  width: 500px;
  height: 650px;
  background:image-url("key2.jpeg")no-repeat;
  background-size: 500px 650px;
  margin: 100px auto 0;
  &_header{
    font-family: Arial;
    display: flex;
    color: rgb(200, 200, 200);
    padding: 70px 70px;
    font-size:25px;
    &_signup{
      margin-left: 60px;
    }
    &_sign_up{
      margin-left: 60px;
      border-bottom: 1px solid blue;
    }
      &_sign_in{
        border-bottom: 1px solid blue; 
      }
    &_url{
      color: rgb(200, 200, 200);
      text-decoration: none;
    }
  
  }
  &_field{
    width: 350px;
    height: 300px;
    margin:auto;
    &_label{
      color: rgb(190, 190, 190);
    }
    &_form{
      margin-bottom:15px;
      outline: 0;
      background: rgb(190, 190, 190);
      height: 27px;
      width: 350px;
      border-radius: 15px;
      padding-left:10px;
    }
    &_password{
      margin-top: 10px;
    }
    &_submit{
      color: rgb(210, 210, 210);
      outline: 0;
      margin-top:30px;
      height: 33px;
      width: 370px;
      border-radius: 15px;
      background: rgb(0, 0, 0);
    }
  }
}
.user_link{
  color:rgb(210, 210, 210);
}